* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --screen-background: deepskyblue;
    --frame-background: #f1f100;
    --button-background: #007bff;
    --button-hover-background: #0056b3;
    --light-text: #fff;
    --dark-gray: #999;
    --light-gray: #777;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: var(--light-text);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--dark-gray);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--light-gray);
}

.screen {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 2rem;
    background-color: var(--screen-background);
    font-family: Arial, sans-serif;
}

.frame {
    background-color: var(--frame-background);
    padding: 1.3rem;
    border-radius: .3rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 20rem;
    height: 84vh;
    margin: 1.6rem 3rem;
}

.frame h1, h2 {
    margin: 1rem 0 4rem 0;
}

.frame form input {
    width: 100%;
    padding: .65rem;
    margin-bottom: 0.5rem;
    border: 1px solid #ccc;
    border-radius: .2rem;
}

.frame form button {
    width: 100%;
    padding: 0.65rem;
    background-color: var(--button-background);
    color: var(--light-text);
    border: none;
    border-radius: .2rem;
    margin: 2.5rem 0 1.5rem 0;
    cursor: pointer;
}

.frame form button:hover {
    background-color: var(--button-hover-background);
}

.frame a {
    color: black;
    font-size: 0.9rem;
}

.frame a:hover {
    color: var(--button-hover-background);
}

/* Transaction */
.transaction-container {
    height: 84vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.transaction {
    background-color: var(--frame-background);
    padding: 0.2rem;
    font-size: .8rem;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 22rem;
    height: 31%;
}

#withdraw {
    margin: 1rem 0;
}

.transaction form {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    margin: 0.6rem 0;
}

.form-group {
    margin-bottom: 5px;
    width: 10rem;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group select,
.form-group input[type="number"] {
    width: 80%;
    padding: 9px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Style for the submit button */
.form-group .btn-submit {
    width: 80%;
    padding: 9px;
    margin-top: 1rem;
    background-color: var(--button-background);
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#checkbox {
    display: flex;
    margin: auto;
    justify-content: space-evenly;
}

/* Style for the submit button on hover */
.form-group .btn-submit:hover {
    background-color: var(--button-hover-background);
}

.transaction h3 {
    font-size: 1.1rem;
}

/* Transaction history */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    background-color: var(--light-text);
    font-size: .8rem;
}

th {
    text-align: center;
}

td:nth-child(4) {
    text-align: right;
}

#history {
    padding: .5rem 1rem;
    width: 26rem;
}

#history h2 {
    margin: 1rem;
}

#table-wrapper {
    overflow: hidden;
    overflow-y: scroll;
    min-height: 1rem;
    max-height: 25.5rem;
}

thead {
    top: 0;
    position: sticky;
}

/* Email */
#email-history {
    height: 36%;
}

#email-form {
    margin-top: 1.2rem;
}

/* Making responsive for smaller screen size */
@media (max-width: 650px) {
    .screen {
        flex-direction: column;
    }

    .frame {
        width: 17rem;
    }

    .transaction {
        width: 17rem;
    }
}

@media (max-width: 500px) {
    .frame {
        width: 15rem;
        height: 70vh;
    }

    .frame h1, h2 {
        font-size: 1.4rem;
        margin: 1rem 0 3rem 0;
    }

    .frame h2 {
        font-size: 1.1rem;
    }

    form input {
        padding: .40rem;
    }

    form button {
        padding: 0.40rem;
        margin: 2.5rem 0 1.5rem 0;
    }

    .frame a {
        font-size: 0.7rem;
    }

    .transaction-container {
        height: 70vh;
    }

    .transaction {
        width: 15rem;
    }
}